@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.name {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  padding-top: 20px;
  color: #423F3D;
}

.info {
  display: inline-block;
  margin: 0;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  color: #A09584;
}

.email {
    font-family: "Open Sans", sans-serif;
    font-size: .8em;
    padding-bottom: 5px;
    color: #A09584;
}

.countdown {
  display: inline-block;
  width: 15%;
  padding-top: 5em;
}

.timer, h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
}

#days, #hours, #minutes, #seconds {
  display: block;
  background: linear-gradient(#605E5B, #423F3D);
  border-radius: 4px;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  font-size: 2em;
  max-width: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.description {
  padding-top: 1px;
  color: #423F3D;
  font-family: "Open Sans Condensed", sans-serif;
}

.timer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

@media only screen and (min-width: 30em) {

  .name {
    font-size: 4em;
  }

  #timer {
    max-width: 40em;
    max-height: 40em;
    font-size: 1em;
    max-width: 40em;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

}

@media only screen and (min-width: 38em) {

  .name {
    font-size: 4em;
  }

  #timer {
    max-width: 40em;
    max-height: 40em;
    font-size: 1.3em;
    max-width: 40em;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

}
