@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.cursive {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  padding-top: 80px;
}

.info {
  display: inline-block;
  margin: 0;
  padding-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.email {
    font-family: "Open Sans", sans-serif;
}

.countdown {
  display: inline-block;
  width: 15%;
  padding-top: 5em;
}

.timer {
  font-family: "Open Sans Condensed", sans-serif;
}

h2, p {
  font-family: "Open Sans Condensed", sans-serif;
}

#days, #hours, #minutes, #seconds {
  display: block;
  background-color: black;
  border-radius: 4px;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  font-size: 3em;
  max-width: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.description {
  padding-top: 1px;
}

.timer {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 30em) {

  .cursive {
    font-size: 4em;
  }

  #timer {
    max-width: 40em;
    max-height: 40em;
    font-size: 2em;
    max-width: 40em;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

}
